.cusBtn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #e1bc78;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    // background-color: aquamarine;
}

.cusBtn:hover{
    background: #d2c9f6;
}

