@import "../../styles/contants.scss";

.wrapper {
  background: white;
  .container {
    gap: 4rem;
    @media (max-width: $sm) {
      flex-direction: column;
      gap: 2rem;
      align-items: flex-start;
    }
    .left {
      flex: 3;
      > * {
        display: block;
      }
      > :nth-child(2) {
        margin-top: 3rem;

        a {
          text-decoration: underline;
          color: orange;
        }
      }
    }

    .right {
      flex: 1;
      .info {
        margin-bottom: 1rem;
        > * {
          display: block;
        }
      }
      .menu {
        ul {
          font-size: 12px;
          gap: 30px;

          
        }
        
        @media (max-width: $sm) {
          flex-direction: row;
          flex-wrap: wrap;
        }
        display: flex;
        flex-direction: column;
        gap: 2rem;
        list-style: none;
        li {
          cursor: pointer;
          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}

li{
    list-style: none;

    a{
    color: #E1BB78;
    }

    a:hover{
        color: #d2c9f6;
    }

  }

.cusSpan {
  /** TEXT GRADIENT */
  color: #e7a5bd;
  background-image: -webkit-linear-gradient(
    0deg,
    #e7a5bd 17%,
    #d2c9f6 66%,
    #7c4227 84%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
